.App {
  text-align: center;
}
.container .jumbotron{
  padding-top:0; 
}

.App-link {
  color: #61dafb;
}

.App-logo {
  margin: 50px;
  height: 200px;
  pointer-events: none;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 400px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h5{
  display: inline-block;
}
.form-poisk{
  margin: 0 auto;
  display: table;
}
.left{
  width: 500px;
  float: left;

}
.right{
  margin-left:50px; 
  float: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
